# Lesson 1: 
## Python basics

 ## 1.1 Strings and Numbers

### 1.1.1 Print

In Python, *numbers* are just typed as they are:

In [1]:
print(23)

23

In [4]:
print(3.1416)

3.1416

In contrast, *strings*  which are a series of characters, must be enclosed in quotation marks `''` or double quotation marks `""`.

[//]: # "Consistency."

In [5]:
print('Here it is a sequence of characters...')

Here it is a sequence of characters...

In [1]:
print("Here is another...")

Here is another...

Python's `print` command can display either an number or a string on the screen.

Also, by default, Jupyter notebooks print the last line when possible.

In [2]:
"Hi"
"no print command needed?"

'no print command needed?'

In [3]:
10

10

### 1.1.2 Basic arithmetic

Python can be used to add `+`, substract `-`, multiply `*` and divide `/` numbers.

In [4]:
2+2

4

In [9]:
3-5

-2

In [11]:
2*5

10

In [12]:
3/2

1.5

To exponentiate a number, we use `**`.

In [14]:
2**3 #This returns 2 to the power of 3.

8

Parentheses can be used to evaluate more complicated expressions. Python respects the usual *order of operations*.

In [15]:
3*(5+1/2)

16.5

**Quiz:** What is  the `%` operator?

**Quiz:** What happens when you divide or exponentiate by 0?

### 1.1.3 String operations

Some of the arithmetic symbols can also be used to perform string operations. Adding `+` means *concatenating*.

In [18]:
"sun"+"flower"

'sunflower'

Other operands produce errors:

In [19]:
"mutiply"*"words"

TypeError: can't multiply sequence by non-int of type 'str'

One can also multiply a string by an integer $n$ to concate a string $n$ times.

In [4]:
"repetition is the key to mastery "*3

'repetition is the key to mastery repetition is the key to mastery repetition is the key to mastery '

**Quiz:** What's the length of `"hey, look!"`? How to obtain the length of a string? (Hint: used your preferred search engine to figure this out")

### 1.1.3 Variables

Variables have two parts: the *name* and the *value*. We assign a name to a value by using the equal sign.

In [22]:
pi=3.14159

In [24]:
sentence="Python is cool."

In the previous lines, we created two new variables with names `pi` and `sentence`. `pi` is assigned to the $\pi$ approximation `3.14159` while the second is assigned to a string.

We can use the declared variables to perform operations on their values:

In [27]:
pi**2

9.869587728099999

In [26]:
sentence+" I like it."

'Python is cool. I like it.'

#### A note on variable names

Variable names can contain only letters, numbers, and underscores. Do not start names with numbers. As spaces are not allowed  we use underscores to replace them:

In [29]:
new_number=23

Try to use short and descriptive names. For instance, if a variable is assigned to the radius of a circle, `radius` or `circle_radius` are prefered than `r` or than (the even worse) `x`.

### 1.1.4 Modifying variables

One of the most useful concepts in programming is that variables can change their values. For instance, we can reassign values:

In [5]:
my_int=3
print(my_int)
my_int=5
print(my_int)

3
5

We can even use the value of a variable to modify its value:

In [7]:
a=2
a=a+2
print(a)

4

The expression `a=a+2` may look awkward, but remember, `=` is an assignment operator. It assigns the name in the left-hand side to the value in the right hand side.

Another common operator to

**Quiz:** Suppose that we have variables `a=5` and `b=10` and we would like to swap their values. What is wrong with the following program?
```python
a=5
b=10
a=b
b=a
```
How could you fix this issue?

AA: (Here some quiz when a variable is assigned to another, modify the other and then print the orignal.)

In [2]:
a=10
b=a
b=b+2
print(a)
print(b)

10
12

### 1.1.5 Types

Data in Python comes in different *types*. A *type* is a tag that Python assigns to each object, 
and tells what methods can be used in such an object.

For instance, in

In [5]:
"mutiply"*"words"

TypeError: can't multiply sequence by non-int of type 'str'

Python recognizes that two strings cannot be multiplied and hence it throws a `TypeError`.

Strings such as `"Hello"` have the `str` type, which is an abbreviation for string. We can discover object's type with the  `type` command:

In [35]:
type("Hello")

str

A variable automatically acquires the type of the value is storing:

In [36]:
godfather="I'm gonna make him an offer he can't refuse."
print(type(godfather))

<class 'str'>

### 1.1.6 Integers and floats

Python  distinguishes  two numerical types: *integers* and *floats*.

**Integers:** Abbreviated as `int`. Integers  can be either positive, negative or zero. Examples: `-5`, `0`, `1`, `23`.

**Floats:** Abbreviated as `float`. These are 64-bit approximation to real numbers. As a rule of thumb, floats are numbers with a decimal point `.`. Examples: `-1.`, `0.`, `1.1`, `2.5`, `3.14`.

In [38]:
type(5)

int

In [39]:
type(5.)

float

We (humans) see `5` and `5.` as the same entity, Python don't. The same occurs the string representing 5:

In [40]:
type("5")

str

HERE SOMETHING ABOUT CONVERTING BETWEEN TYPES.

### 1.1.7 Input/Output

### 1.1.8 Basic string manipulation